{% extends 'core/base_admin.html' %}
{% load i18n static humanize user_agents auth_tokens media_from_provider cache %}
{% if perms.dbbackup.ik_setup_jobs or perms.dbbackup.ik_manage_backups  %}
    {% block app_admin_nav %}
        <div class="divider"></div>
        <ul class="nav nav-pills nav-stacked">
            {% if perms.dbbackup.ik_setup_jobs  %}
                <li role="presentation" class="homepage">
                    {% url 'dbbackup:jobconfig_list' as job_config_list_url %}
                    <a href="{{ job_config_list_url }}">{% trans "Job configs" %}</a>
                </li>
            {% endif %}
            {% if perms.dbbackup.ik_manage_backups  %}
                <li role="presentation" class="menus">
                    <a href="{% url 'dbbackup:backup_list' %}">
                        {% trans "Backups" %}
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endblock %}
{% endif  %}